<html>
<head>
</head>
<body>

<ul>
   <li>Title : <%= title %></li>
   <li>Director : <%= director %></li>
   <li>Poster : <img src='/posters/<%= title %>-poster.jpg' style='vertical-align:text-top'></li>
</ul>


</body>

</html>