# Set the default behavior, in case people don't have core.autocrlf set.
* text=auto

# Explicitly declare text files you want to always be normalized and converted
# to native line endings on checkout.
*.c text eol=lf
*.h text eol=lf
*.java text eol=lf
*.properties text eol=lf
*.jsp text eol=lf
*.jspf text eol=lf
*.tag text eol=lf
*.MF text eol=lf
*.aj text eol=lf
*.ftl text eol=lf
*.html text eol=lf
*.htm text eol=lf
*.xhtml text eol=lf
*.css text eol=lf
*.js text eol=lf
*.json text eol=lf
*.xml text eol=lf
*.dtd text eol=lf
*.xsd text eol=lf
*.sch text eol=lf
*.xsl text eol=lf
*.xslt text eol=lf
*.wsdl text eol=lf
*.wsdd text eol=lf
*.svg text eol=lf
*.mediawiki text eol=lf
*.textile text eol=lf
*.sql text eol=lf
*.ddl text eol=lf
*.q text eol=lf
*.tokens text eol=lf
*.script text eol=lf
*.cfg text eol=lf
.classpath text eol=lf
.project text eol=lf
.jsdtscope text eol=lf
*.prefs text eol=lf
*.component text eol=lf
*.launch text eol=lf
.springBeans text eol=lf
.euml2 text eol=lf
.umlproject text eol=lf
.clay text eol=lf
.fbprefs text eol=lf
.pmd text eol=lf
.lint4jprefs text eol=lf
.jshintrc text eol=lf


# Declare files that will always have CRLF line endings on checkout.
*.sln text eol=crlf

# Denote all files that are truly binary and should not be modified.
*.png binary
*.jpg binary
*.gif binary
*.class binary
*.jar binary

