<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:aop="http://www.springframework.org/schema/aop"
	xmlns:context="http://www.springframework.org/schema/context"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-2.5.xsd
		http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop-2.5.xsd
		http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-2.5.xsd">

	
	<bean class="org.springframework.beans.factory.config.PropertyPlaceholderConfigurer">
		<property name="systemPropertiesModeName" value="SYSTEM_PROPERTIES_MODE_OVERRIDE"/>
		<property name="ignoreResourceNotFound" value="false"/> <!-- default is false -->
		<property name="localOverride" value="false"/> <!-- default is false -->
		<property name="locations">
			<list>
				<value>classpath:thirdstage/exercise/spring3/config/case1/contacts.properties</value>
				<value>classpath:thirdstage/exercise/spring3/config/case1/contacts-updated.properties</value>
				<value>classpath:thirdstage/exercise/spring3/config/case1/contacts-${contacts.wishtogo}.properties</value>
			</list>
		</property>
	</bean>
		
	<bean id="simpleContacts" class="thirdstage.exercise.spring3.config.case1.Contacts">
		<property name="telephoneNo" value="${contacts.telephoneno}"/>
		<property name="address" value="${contacts.address}"/>
		<property name="email" value="${contacts.email}"/>
	</bean>

</beans>
