<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:aop="http://www.springframework.org/schema/aop"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-2.5.xsd
		http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop-2.5.xsd">


	<bean id="normalOracleDataSource" destroy-method="close"
		class="oracle.jdbc.pool.OracleDataSource"> 
	 
		<property name="URL" value="jdbc:oracle:thin:@//127.0.0.1:1521/xe"/>
		<property name="user" value="eshop"/>
		<property name="password" value="eshopdev"/>
		<property name="connectionProperties">
			<props>
				<prop key="includeSynonyms">FALSE</prop> <!-- default value -->
				<prop key="remarksReporting">FALSE</prop> <!-- default value -->
				<prop key="restrictGetTables">TRUE</prop> <!-- default value -->
			</props>
		</property>
		
	</bean>
		

	<bean id="detailedOracleDataSource" destroy-method="close"
		class="oracle.jdbc.pool.OracleDataSource">
	 
		<property name="URL" value="jdbc:oracle:thin:@//127.0.0.1:1521/xe"/>
		<property name="user" value="eshop"/>
		<property name="password" value="eshopdev"/>
		<property name="connectionProperties">
			<props>
				<prop key="includeSynonyms">TRUE</prop> <!-- default value -->
				<prop key="remarksReporting">TRUE</prop> <!-- default value -->
				<prop key="restrictGetTables">TRUE</prop> <!-- default value -->
			</props>
		</property>
		
	</bean>

</beans>
