<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration
    PUBLIC "-//www.mybatis.org//DTD Config 3.0//EN"
    "http://www.mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>

  <!--
   Some top level elements of configuration will be IGNORED
  when configured via org.mybatis.spring.SqlSessionFactoryBean.setConfigLocation
  method.

   Explicitly documented element is 'environments' (which includes 'dataSource'
  and 'transactionManager' elements).
   Other elements that seem to be IGNORED include 'databaseIdProvider'.

   But 'settings', 'typeAliases' and 'mappers' are documented NOT to be ignored.

   For more, refer http://mybatis.github.io/spring/factorybean.html#Properties
  -->

  <!-- http://mybatis.github.io/mybatis-3/configuration.html#settings -->
	<settings>
		<setting name="cacheEnabled" value="true" /> <!-- default : true -->
		<setting name="useColumnLabel" value="true" /> <!-- default : true -->
		<setting name="useGeneratedKeys" value="true" /> <!-- default : false -->
		<setting name="defaultExecutorType" value="SIMPLE" /> <!-- SIMPLE(default), REUSE or BATCH -->
		<setting name="mapUnderscoreToCamelCase" value="true" /> <!-- default : false -->
		<setting name="logImpl" value="SLF4J" />
	</settings>

</configuration>