<?xml version="1.0"?>
<configuration scan="true" scanPeriod="180 seconds">

   <property name="LOG_FILE_DIR" value="${log.file.dir:-/var/logs/misc}" />
   <property name="LOG_FILE_NAME" value="${log.file.name:-default.log}" />

   <appender name="Console" class="ch.qos.logback.core.ConsoleAppender">
      <filter class="ch.qos.logback.classic.filter.ThresholdFilter">
         <level>WARN</level>
      </filter>
      <encoder>
         <pattern>%-4r [%t] %-5p %c - %m%n</pattern>
      </encoder>
   </appender>
   <appender name="DRFA" class="ch.qos.logback.core.rolling.RollingFileAppender">
      <file>${LOG_FILE_DIR}/${LOG_FILE_NAME}</file>
      <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
         <fileNamePattern>logFile.%d{yyyy-MM-dd}.log</fileNamePattern>
         <maxHistory>10</maxHistory>
      </rollingPolicy>
      <filter class="ch.qos.logback.classic.filter.ThresholdFilter">
         <level>DEBUG</level>
      </filter>
      <encoder>
         <pattern>%-4r [%t] %-5p %c - %m%n</pattern>
      </encoder>
   </appender>

   <logger name="org.apache.zookeeper" level="WARN" />
   <root level="INFO">
      <appender-ref ref="Console" />
      <appender-ref ref="DRFA" />
   </root>
</configuration>
