<?xml version="1.0"?>
<configuration scan="true" scanPeriod="180 seconds">

   <jmxConfigurator/>

   <property name="LOG_FILE_DIR" value="${log.file.dir:-${TEMP:-${user.home}}}" />
   <property name="LOG_FILE_NAME" value="${log.file.name:-logback.log}" />
   <property name="LOG_ROOT_LEVEL" value="${log.root.level:-DEBUG}"/>

   <appender name="Console" class="ch.qos.logback.core.ConsoleAppender">
      <filter class="ch.qos.logback.classic.filter.ThresholdFilter">
         <level>DEBUG</level>
      </filter>
      <encoder>
         <pattern>[%-4r|%t|%-5p|%c{2}] %m%n</pattern>
      </encoder>
   </appender>
   <appender name="DRFA" class="ch.qos.logback.core.rolling.RollingFileAppender">
      <file>${LOG_FILE_DIR}/${LOG_FILE_NAME}</file>
      <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
         <fileNamePattern>logFile.%d{yyyy-MM-dd}.log</fileNamePattern>
         <maxHistory>10</maxHistory>
      </rollingPolicy>
      <filter class="ch.qos.logback.classic.filter.ThresholdFilter">
         <level>DEBUG</level>
      </filter>
      <encoder>
         <pattern>[%-4r|%t|%-5p|%c{2}] %m%n</pattern>
      </encoder>
   </appender>

   <root level="${LOG_ROOT_LEVEL}">
      <appender-ref ref="Console" />
      <appender-ref ref="DRFA" />
   </root>

   <logger name="org.apache.zookeeper" level="INFO">
      <appender-ref ref="DRFA"/>
   </logger>
</configuration>