
<!--
partial spring configuration to be merged

@since 2006-07-08
-->
	<bean id="testDataSource" class="org.apache.commons.dbcp.BasicDataSource" destroy-method="close">
		<property name="driverClassName"><value>org.gjt.mm.mysql.Driver</value></property>
		<property name="url"><value>jdbc:mysql://127.0.0.1:3306/test?useUnicode=true</value></property>
		<property name="username"><value>halfface</value></property>
		<property name="password"><value>mysql4u</value></property>
	</bean>

	<bean id="hibernateSessionFactory" class="org.springframework.orm.hibernate3.LocalSessionFactoryBean">
		<property name="dataSource" ref="testDataSource"/>
		<property name="mappingResources">
			<list>
				<value>thirdstage/exercise/spring/hibernate3/case2/ContactInfo.hbm.xml</value>
				<value>thirdstage/exercise/spring/hibernate3/case2/Group.hbm.xml</value>
				<value>thirdstage/exercise/spring/hibernate3/case2/User.hbm.xml</value>
			</list>
		</property>
		<property name="hibernateProperties">
			<props>
				<prop key="hibernate.dialect">org.hibernate.dialect.MySQLDialect</prop>
				<prop key="hibernate.show_sql">true</prop>
				<prop key="hibernate.use_outer_join">true</prop>
				<!--
				<prop key="hibernate.transaction.factory_class">org.hibernate.transaction.JDBCTransactionFactory</prop>
				-->
			</props>
		</property>	
	</bean>
	
	
