<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>
   <extension
         id="my-lib-apidocs"
         name="My library API documentation"
         point="org.eclipse.linuxtools.cdt.libhover.library">
      <library
            location="./data/my-1.0.libhover"
            name="My library"
            type="C">
      </library>
   </extension>
   
   <!--
   <extension
         point="org.eclipse.help.toc">
      <toc
            file="toc.xml"
            primary="false">
      </toc>
   </extension>
   -->

</plugin>