<?xml version="1.0" encoding="UTF-8"?>

<configuration>

	<appender name="stdOut" class="ch.qos.logback.core.ConsoleAppender">
		<encoder>
			<pattern>%d{HH:mm:ss} [%thread] %-5level - %msg%n
			</pattern>
		</encoder> 
	</appender>

	<appender name="file" class="ch.qos.logback.core.FileAppender">
		<!--  @..@ is replace holder of Maven filtering -->
		<file>@basedir@/run/log/logback-default.log</file>	
		<!-- @important The following doesn't work due to file separator. Is there any solution?  -->
<!-- 		<file>${logback.log.directory}/default3.log</file> -->
		<encoder>
			<pattern>%d{HH:mm:ss} [%thread] %-5level %logger{35} - %msg%n</pattern>
		</encoder>
	</appender>

	<appender name="rollingFile"
		class="ch.qos.logback.core.rolling.RollingFileAppender">
		<rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
			<fileNamePattern>@basedir@/run/log/logback-%d{yyyy-MM-dd}.log
			</fileNamePattern>
			<maxHistory>30</maxHistory>
		</rollingPolicy>
		<encoder>
			<pattern>!%d{HH:mm:ss} [%thread] %-5level : %msg%n
			</pattern>
		</encoder>
	</appender>

	<root level="debug">
		<appender-ref ref="stdOut" />
		<appender-ref ref="rollingFile" />
	</root>
</configuration>