<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:aop="http://www.springframework.org/schema/aop"
	xmlns:context="http://www.springframework.org/schema/context"
	xsi:schemaLocation="
		http://www.springframework.org/schema/beans 
		http://www.springframework.org/schema/beans/spring-beans-2.5.xsd
		http://www.springframework.org/schema/aop 
		http://www.springframework.org/schema/aop/spring-aop-2.5.xsd
		http://www.springframework.org/schema/context
		http://www.springframework.org/schema/context/spring-context-2.5.xsd">
		
	<bean id="defaultJmxServer" class="org.springframework.jmx.support.MBeanServerFactoryBean">
		<property name="locateExistingServerIfPossible" value="true"></property>
		<!--  <property name="agentId" value=""/> --> <!-- empty string for platform MBean server with Spring 3.0 or above -->
	
	</bean>	
	
	<bean id="defaultJmxExporter" class="org.springframework.jmx.export.MBeanExporter">
		<property name="server" ref="defaultJmxServer"/>
		<property name="beans">
			<map>
				<entry key="thirdstage.exercie:type=ComponentMetaRegistry" value-ref="componentRegistry"/>
			</map>
		</property>
	</bean>	
	
	
	<bean id="defaultRmiRegistry"
		class="org.springframework.remoting.rmi.RmiRegistryFactoryBean">
		<property name="port" value="9999"/>	
	</bean>
	
	<bean id="defaultJmxConnectorServer"
		class="org.springframework.jmx.support.ConnectorServerFactoryBean">
		<property name="objectName" value="connector:type=jmx,protocol=rmi"/>
		<property name="serviceUrl" value="service:jmx:rmi://localhost/jndi/rmi://localhost:9999/server"/>
	</bean>
	
	
	<bean id="componentRegistry" class="thirdstage.exercise.jmx.spring.case3.ComponentMetaRegistryImpl"></bean>
	

</beans>
