/* 
    Document   : SimpleStyle
    Created on : 2005³â 2¿ù 3ÀÏ (¸ñ), ¿ÀÈÄ 6:44
    Author     : 3rdstage
    Description:
        Purpose of the stylesheet follows.
*/

/* 
   @todo customize this sample style
   Syntax recommendation http://www.w3.org/TR/REC-CSS2/
*/

BODY {font-family:Verdana, µ¸¿ò; font-size:9pt; background:#ffffff; margin:0px; padding:0px}
FRAMESET {margin-top:0px; margin-bottom:0px; margin-left:0px; margin-right:0px; padding-top:0px; padding-bottom:0px; padding-left:0px; padding-right:0px;}

H1 {font-family:Verdana, ±¼¸²; font-size:14pt; font-weight:bold; color:navy; margin-top:4pt; margin-bottom:4pt; border:none}
H2 {font-family:Verdana, ±¼¸²; font-size:13pt; font-weight:bold; color:navy; margin-top:4pt; margin-bottom:4pt; border:none}
H3 {font-family:Verdana, ±¼¸²; font-size:12pt; font-weight:bold; color:navy; margin-top:4pt; margin-bottom:4pt; border:none}
H4 {font-family:Verdana, ±¼¸²; font-size:11pt; font-weight:bold; color:navy; margin-top:4pt; margin-bottom:4pt; border:none}
H5 {font-family:Verdana, ±¼¸²; font-size:10pt; font-weight:bold; color:navy; margin-top:4pt; margin-bottom:4pt; border:none}
P {font-family:Verdana, µ¸¿ò; font-size:9pt; font-weight:normal; color:black; margin-top:3pt; margin-bottom:3pt; border:none}

TABLE {background-color:white}
TABLE.search {background-color:#d6d6d6}
TABLE.list {background-color:#d6d6d6}
TABLE.detail {background-color:#d6d6d6}
TD {font-family:Verdana, µ¸¿ò; font-size:9pt; font-weight:normal; color:black; background-color:white}
TD.title {font-size:11pt; font-weight:bold; color:navy}
TD.search {background-color:#f5f5f5} 
TD.item {background-color:#f5f5f5}
TH {font-family:Verdana, µ¸¿ò; font-size:9pt; font-weight:bold; color:black; background-color:#f5f5f5}

INPUT {font-family:Verdana, µ¸¿ò; font-size:9pt; font-weight:normal; color:black}
SMALL {font-family:Arial, µ¸¿ò; font-size:8pt; font-weight:normal; color:black}
HR.normal {text-align:left; width:600px}

