<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE beans PUBLIC "-//SPRING//DTD BEAN 2.0//EN" "http://www.springframework.org/dtd/spring-beans-2.0.dtd">


<!-- 
DispatcherServlet's application context for the Spring MVC 
 -->

<beans>

	<!-- Strategy Definitions -->
	<bean id="defaultHandlerMapping" 
	      class="org.springframework.web.servlet.handler.BeanNameUrlHandlerMapping">
		<description>URI to Controller Mapping Strategy</description>
	</bean>

	<bean id="viewResolver" class="org.springframework.web.servlet.view.InternalResourceViewResolver">
		<description>View Resolution Strategy</description>
		<property name="viewClass" value="org.springframework.web.servlet.view.JstlView"></property>
		<property name="prefix" value="/WEB-INF/jsp/"></property>
		<property name="suffix" value=".jsp"/>
	</bean>
	<!-- Strategy Definitions : end -->


	
	<!-- Public Controller Definitions -->
	<bean name="/app/index.do" 
	      class="org.springframework.web.servlet.mvc.ParameterizableViewController">
		<property name="viewName" value="index"/>
	</bean>
	
	
	<bean name="/app/listAccounts.do"
			class="thirdstage.petstore1.web.AccountsListController">
		<description>
		- simplest page to test and exercise
		- not included original PetStore 
		</description>
		<property name="petStore" ref="petStore"/>
		<property name="supportedMethods" value="GET,POST"/>
		<property name="requireSession" value="false"/>
	</bean>	

	
	<!-- Not yet implemented
	<bean name="/shop/newAccount.do" 
	      class="thirdstage.petstore1.web.AccountFormController">
		<property name="petStore" ref="petStore"/>
		<property name="validator" ref="accountValidator"></property>
		<property name="successView" ref="index"/>
	</bean>

	<bean name="/shop/signon.do"
	      class="thirdstage.petstore1.web.SignonController">
		<property name="petStore" ref="petStore"/>
	</bean>

	<bean name="/shop/signonFrom.do"
	      class="org.springframework.web.servlet.mvc.ParameterizableViewController">
		<property name="viewName" value="SignonFrom"></property>
	</bean>

	<bean name="/shop/signoff.do"
	      class="thirdstage.petstore1.web.SignoffController"/>

	<bean name="/shop/searchProducts.do"
	      class="thirdstage.petstore1.web.SearchProductsController">
		<property name="petStore" ref="petStore"></property>
	</bean>
	
	<bean name="/shop/viewCategory.do"
	      class="thirdstage.petstore1.web.ViewCategoryController">
		<property name="petStore" ref="petStore"></property>
	</bean>

	<bean name="/shop/viewProduct.do"
	      class="thirdstage.petstore1.web.ViewProductController">
		<property name="petStore" ref="petStore"></property>
	</bean>

	<bean name="/shop/viewCart.do"
	      class="thirdstage.petstore1.web.ViewCartController">
		<property name="successView" value="Cart"></property>	      		      
	</bean>

	<bean name="/shop/viewItem.do"
	      class="thirdstage.petstore1.web.ViewItemController">	
		<property name="petStore" ref="petStore"></property>
	</bean>
	
	<bean name="/shop/addItemToCart.do" 
	      class="thirdstage.petstore1.web.AddItemToCartController">
		<property name="petStore" ref="petStore"></property>
	</bean>
	
	<bean name="/shop/updateCartQuantities.do"
	      class="thirdstage.petstore1.web.UpdateCartQuantitiesController"/>

	<bean name="/shop/removeItemFromCart.do" 
	      class="thirdstage.petstore1.web.RemoveItemFromCartController"/>
	
	<bean name="/shop/checkout.do" 
	      class="thirdstage.petstore1.web.ViewCartController">
		<property name="successView" value="Checkout"/>
	</bean>
 	-->
	<!-- Public Controller Definitions : end -->


	          
	<!-- Protected Controller Definitions -->
	
	<!-- Not yet implemented
	<bean id="secureHandlerMapping"
	      class="org.springframework.web.servlet.handler.SimpleUrlHandlerMapping">
		<property name="interceptors">
			<list>
				<ref bean="signonInterceptor"/>
			</list>
		</property>
		<property name="urlMap">
			<map>
				<entry key="/shop/editAccout.do" value-ref="editAccount"></entry>
				<entry key="/shop/newOrder.do" value-ref="newOrder"/>
				<entry key="/shop/listOrders.do" value-ref="listOrders"/>
				<entry key="/shop/viewOrder.do" value-ref="viewOrder"/>
			</map>
		</property>
	</bean>
	
	<bean id="signonInterceptor" class="thirdstage.petstore1.web.SignonInterceptor"/>
	
	<bean id="editAccount"
	      class="thirdstage.petstore1.web.AccountFormController">
		<property name="petStore" ref="petStore"></property>
		<property name="validator" ref="accountValidator"></property>
		<property name="successView" value="index"></property>
	</bean>
	
	<bean id="newOrder"
	      class="thirdstage.petstore1.web.OrderFormController">
		<property name="petStore" ref="petStore"></property>
		<property name="validator" ref="orderValidator"></property>
	</bean>
	
	<bean id="listOrders"
	      class="thirdstage.petstore1.web.ListOrdersController">
		<property name="petStore" ref="petStore"></property>
	</bean>
	
	<bean id="viewOrder"
	      class="thirdstage.petstore1.web.ViewOrder">
		<property name="petStore" ref="petStore"></property>
	</bean>
	 -->
	<!-- Protected Controller Definitions : end -->


</beans>
