<?xml version='1.0' encoding='windows-1252'?>
<Wix xmlns='http://schemas.microsoft.com/wix/2006/wi'>
   <!--
   WiX source for application.

   @TODO Add cases injection built-in/custom preprocessor or binder variables
   -->

   <Product Id="E19BD940-30E2-4381-B50C-FEE5BC949BF6"
      UpgradeCode="E31CED6F-BB66-4F5E-B678-0B97AA1C7521"
      Name="NEXCORE Saturn" Version="1.0.3.2015" Language="1033"
      Codepage="1252" Manufacturer="Thirdstage">
      <Package InstallerVersion="100" Languages="1033"
         SummaryCodepage="1252" InstallScope="perMachine"
         Compressed="yes" Keywords="Saturn"
         Comments="Saturn !(bind.property.ProductVersion)"
         Description="Description for Saturn" />
      <Media Id="1" Cabinet="core.cab" EmbedCab="yes" />

      <!-- Properties and variables -->
      <Property Id="ApplicationFolderName" Value="Saturn" />
      <Property Id="WixAppFolder" Value="WixPerMachineFolder" />
      <WixVariable Id="WixUISupportPerUser" Value="0" />

      <!-- Directory layout -->
      <Directory Id="TARGETDIR" Name="SourceDir">
         <Directory Id="ProgramFilesFolder">
            <Directory Id="APPLICATIONFOLDER">
               <Directory Id="BIN_DIR" Name="bin" />
               <Directory Id="LIB_DIR" Name="lib" />
               <Directory Id="CONF_DIR" Name="conf" />
               <Directory Id="DATA_DIR" Name="data" />
               <Directory Id="DOC_DIR" Name="doc">
                  <Directory Id="DOC_API_DIR" Name="api">
                     <Directory Id="DOC_API_JAVADOC_DIR" Name="javadoc" />
                  </Directory>
                  <Directory Id="DOC_MANUAL_DIR" Name="manual" />
                  <Directory Id="DOC_TUTORIAL_DIR" Name="tutorial" />
               </Directory>
               <Directory Id="LOG_DIR" Name="log" />
               <Directory Id="TMP_DIR" Name="tmp" />
            </Directory>
         </Directory>
      </Directory>
      <!-- End of directory layout -->

      <!-- Components -->
      <Component Id="DIRECTORIES" Guid="557C86D4-ABF5-4568-B040-F0ABA870729F" Directory="APPLICATIONFOLDER">
         <CreateFolder Directory="BIN_DIR" />
         <CreateFolder Directory="LIB_DIR" />
         <CreateFolder Directory="CONF_DIR" />
         <CreateFolder Directory="DATA_DIR" />
         <CreateFolder Directory="DOC_DIR" />
         <CreateFolder Directory="DOC_API_DIR" />
         <CreateFolder Directory="DOC_API_JAVADOC_DIR" />
         <CreateFolder Directory="DOC_MANUAL_DIR" />
         <CreateFolder Directory="DOC_TUTORIAL_DIR" />
         <CreateFolder Directory="LOG_DIR" />
         <CreateFolder Directory="TMP_DIR" />
      </Component>
      <Component Id="ENV_VARS" Guid="A4159E2A-AF6F-4A2C-ACDA-29FC1B91D13F" Directory="APPLICATIONFOLDER">
         <Environment Id="SATURN_HOME_ENV" Action="set" Name="SATURN_HOME" Part="all" Permanent="no" System="no" Value="[APPLICATIONFOLDER]" />
         <Environment Id="SATURN_DATA_DIR_ENV" Action="set" Name="SATURN_DATA_DIR" Part="all" Permanent="no" System="no" Value="[DATA_DIR]" />
         <Environment Id="SATURN_LOG_DIR_ENV" Action="set" Name="SATURN_LOG_DIR" Part="all" Permanent="no" System="no" Value="[LOG_DIR]" />
      </Component>
      <!-- @TODO Add CONF_COMPONENT including spring-base.xml, spring-base.properties and logback.xml -->

      <!-- End of components -->

      <!-- Features -->
      <Feature Id="CORE_FEATURE" Title="Core components" Level="1">
         <ComponentRef Id="DIRECTORIES" />
         <ComponentRef Id="ENV_VARS" />
      </Feature>

      <CustomAction Id='LaunchNotepad' Directory='TARGETDIR' Execute='immediate' ExeCommand='[SystemFolder]notepad.exe' Return='ignore' />

      <InstallExecuteSequence>
         <Custom Action='LaunchNotepad' After='InstallFinalize'>NOT Installed</Custom>
      </InstallExecuteSequence>


      <!-- UI -->
      <UI>
         <UIRef Id="WixUI_Advanced" />
         <Publish Dialog="InstallDirDlg" Control="Next" Event="NewDialog" Value="VerifyReadyDlg" Order="5">1</Publish>
         <Publish Dialog="VerifyReadyDlg" Control="Back" Event="NewDialog" Value="InstallDirDlg">1</Publish>
         <Publish Dialog="VerifyReadyDlg" Control="Next" Event="NewDialog" Value="FeaturesDlg">1</Publish>

      </UI>
   </Product>
</Wix>



