	<!-- sample for complete configuration -->
	<bean id="testDataSource" class="org.apache.commons.dbcp.BasicDataSource" destroy-method="close">
		<property name="driverClassName" value="org.gjt.mm.mysql.Driver"/>
		<property name="url" value="jdbc:mysql://127.0.0.1:3306/test?useUnicode=true&amp;characterEncoding=utf-8"/>
		<property name="username" value="halfface"/>
		<property name="password" value="mysql4u"/>
	</bean>
	
	<!-- sample for configuration using external jndi configuration in such a case of web application -->
	<!--
	<bean id="testDataSource" class="org.springframework.jndi.JndiObjectFactoryBean">
		<property name="jndiName" value="java:comp/env/jdbc/TestDB"/>
	</bean>
	-->
	
	<bean id="hibernateSessionFactory" class="org.springframework.orm.hibernate3.LocalSessionFactoryBean">
		<property name="dataSource" ref="testDataSource"/>
		<property name="mappingResources">
			<list>
				<value>thirdstage/exercise/spring/hibernate3/case5/Product.hbm.xml</value>
			</list>
		</property>
		<property name="hibernateProperties">
			<props>
				<prop key="hibernate.dialect">org.hibernate.dialect.MySQLDialect</prop>
				<prop key="hibernate.show_sql">true</prop>
				<prop key="hibernate.use_outer_join">true</prop>
				<!--
				<prop key="hibernate.transaction.factory_class">org.hibernate.transaction.JDBCTransactionFactory</prop>
				-->
			</props>
		</property>
	</bean>
