<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="thirdstage.exercise.jersey.spring3.catalog.CategoryMapper">

  <select id="selectAllCategories"
    resultType="thirdstage.exercise.jersey.spring3.catalog.CategoryValue">
  </select>

	<insert id="insertCateogry" databaseId="mysql">
	</insert>
</mapper>